.close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    z-index:1000;
  }
.close_subframe{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    z-index:1000;
    
}
  
  .line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #fc3232;
    border-radius: 50%;
  }
  
  .line.one {
    transform: rotate(45deg)
  }
  
  .line.two {
    transform: rotate(135deg)
  }




:root {
    --color-0: #000000; /* Default color */
    --color-1: #B7B7CE; /* Steel */
    --color-2: #6390F0; /* Water */
    --color-3: #A6B91A; /* Bug */
    --color-4: #6F35FC; /* Dragon */
    --color-5: #F7D02C; /* Electric */
    --color-6: #735797; /* Ghost */
    --color-7: #EE8130; /* Fire */
    --color-8: #D685AD; /* Fairy */
    --color-9: #96D9D6; /* Ice */
    --color-10: #C22E28; /* Fighting */
    --color-11: #A8A77A; /* Normal */
    --color-12: #7AC74C; /* Grass */
    --color-13: #F95587; /* Psychic */
    --color-14: #B6A136; /* Rock */
    --color-15: #705746; /* Dark */
    --color-16: #E2BF65; /* Ground */
    --color-17: #A33EA1; /* Poison */
    --color-18: #A98FF3; /* Flying */
}
.frame{
    font-family: 'Roboto', sans-serif;
    /*padding: 1rem;*/
    display: flex;
    justify-content: center;
    align-items:bottom;
    z-index:1000;
}

.frame h1 {
    margin: 0;
}


.frame_box{
    padding: 1rem;
    position:fixed;
    height:90%;
    width:80%;
    overflow-y:hidden;/*auto;*/
    overflow-x:hidden;

    top:1.5vh;
    background-color:#ff0034;
    
    transition:visibility 0.3s linear,opacity 0.3s linear;
    
    border: 0.5rem black solid;
    border-radius:20px;
    
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);    

}

.frame_ui{
    padding: 0rem;
    margin:0rem;
    position:fixed;
    height:100%;
    width:100%;
    /*overflow-y:auto;*/

    /*top:1.5vh;*/
    background-color:#ff0034;
    
    border: 0.5rem red solid;
    border-radius:20px;
    
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
.types {
    list-style: none;
    padding: 0;
    margin: 0;
}
.type {
    padding: 0.1rem 0.4rem;
    margin-top: 5px;
    background-size: auto;
    border-radius: 1rem;
    border: 0.05rem black solid;
    display: table;
    font-size: .625rem;
    z-index:2;
}
.details_type {
    padding: 0.1rem 0.4rem;
    margin-top: 5px;
    background-size: auto;
    border-radius: 1rem;
    border: 0.05rem black solid;
    display: table;
    font-size: 1rem;
    z-index:2;
}



.circle_btn{
    position: absolute;
    color:white;
    background-color:red;
    right:0rem;
    top:0rem;
    border-radius:50%;
    z-index:1000;
    border:0.1rem black solid;
    font-weight: bold;
    font-size:2rem;
    padding:1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: pointer;
}
.btn_next{
    position: absolute;
    color:white;
    background-color:lightgreen;
    right:0rem;
    bottom:50%;
    border-radius:50%;
    z-index:1000;
    border:0.1rem black solid;
    font-weight: bold;
    font-size:1rem;
    padding:1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: pointer;
}
.btn_prev{
    position: absolute;
    color:white;
    background-color:lightgreen;
    left:0rem;
    bottom:50%;
    border-radius:50%;
    z-index:1000;
    border:0.1rem black solid;
    font-weight: bold;
    font-size:1rem;
    padding:1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: pointer;
}
.warning_btn{
    color:white;
    position: absolute;/*absolute;*/
    background-color:red;
    right:10px;
    top:10px;
    border-radius:10px;
    z-index:1000;
    border:0.1rem black solid;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

.On{
    z-index:2;
    visibility:visible;
    opacity:1;
}
.Off{
    z-index:1;
    visibility:hidden;
    opacity:0;
}
.off_static{
    z-index:1;
}
.on_static{
    z-index:2;
}










@keyframes rainbow {
    0% { background-position: 100% 67%; }
    50% { background-position: 67% 34%; }
    100% { background-position: 34% 0%; }
}

.text_adm {
    background: linear-gradient(45deg, 
        var(--color-1), var(--color-2), var(--color-3), var(--color-4), var(--color-5),
        var(--color-6), var(--color-7), var(--color-8), var(--color-9), var(--color-10),
        var(--color-11), var(--color-12), var(--color-13), var(--color-14), var(--color-15),
        var(--color-16), var(--color-17), var(--color-18)
    );
    background-size: 2000% 2000%;
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: white;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    z-index: 1;
    animation: rainbow 10s linear infinite;
    -webkit-text-stroke: 0.08rem black; /* Añade un borde negro al texto */
}


